@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gradient-start: #000000;
  --gradient-end: #05034B;

  --wrapper: 100vw;
  --gutter: 10px;

  --rh: calc((var(--wrapper) - (3 * var(--gutter))) / 4);
}

body {
  background: linear-gradient(to right, #000000 40%, #000000, #05034B);
}

footer {
  background: rgb(10, 0, 36);
  background: linear-gradient(45deg, rgba(10, 0, 36, 1) 0%, rgba(149, 0, 255, 1) 100%);
  margin-top: 9rem;
}

@media (min-width:768px) {
  footer {
    margin-top: 22rem;
  }
}

.text-msm {
  font-size: 1.00rem
    /* 14px */
  ;
  line-height: 1.50rem
    /* 20px */
  ;
}

.grid-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 4 columns grid */
  gap: 50px;
  /* Gap between the grid items */
  margin-left: auto;
  margin-right: auto;
}

.grid__item-about {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 columns grid */
  gap: var(--gutter);
  /* Gap between the grid items */
  margin: auto;
  /* Center the grid horizontally */
}

.grid__item {
  background-color: black;
  /* Just for visibility */
  position: relative;
  /* Needed for absolute positioning of the content */
  transition: transform 0.5s ease;
}

.grid__item::before {
  content: '';
  display: block;
  padding-top: 100%;
  /* Square aspect ratio trick */
}

.grid__item>div>h3 {
  z-index: 3;
}

.grid__item:hover>div>h3 {
  transform: scale(1.2);
}

.grid__item:hover {
  background-color: rebeccapurple;
}

.grid__item>div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid__item--lg {
  grid-column: span 2;
  grid-row: span 2;
}

.grid__item--db {
  grid-column: span 2;
}

.grid__item--db::before {
  padding-top: 50%;
  /* Adjusts to a 2:1 aspect ratio */
}

.grid__item-image::before {
  background-size: cover;
  background-position: center;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.7;
  height: 100%;
  width: 100%;
}

#software-bg::before {
  background-image: url('/software.jpg');
}

#vision-bg::before {
  background-image: url('/vision.png');
  opacity: 0.5;
}

#robotics-bg::before {
  background-image: url('/robotics.jpg');
}

#mechanical-bg::before {
  background-image: url('/mechanical.png');
}

#machine-learning-bg::before {
  background-image: url('/machine-learning.png');
}

#electrical-bg::before {
  background-image: url('/electrical.jpg');
}

#iot-bg::before {
  background-image: url('/iot.png');
}

#app-dev-bg::before {
  background-image: url('/app-dev.png');
}

@media (max-width:1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    /* 4 columns grid */
  }

  .grid__item::before {
    padding-top: 50%;
    /* Square aspect ratio trick */
  }

  .grid__item--sm {
    grid-column: span 2;
  }
}

@media (max-width:1280px) {
  .grid-about {
    grid-template-columns: repeat(1, 1fr);
    /* 4 columns grid */
    gap: 15px;
  }

  .grid__item-about-1 {
    order: 2;
  }

  .grid__item-about-2 {
    order: 1;
  }
}

.nav-bar__items {
  @apply py-2 items-center text-center font-bold text-white;
  @apply border-b-2 border-purple-900 cmdm:border-b-0;
  @apply 2-5xl:mx-2 3-5xl:mx-4;
  @apply text-2xl 2-5xl:text-3xl 3-5xl:text-4xl;
  @apply cmdm:px-6 cmdm:hover:bg-transparent;
  @apply cmdm:hover:text-purple-600;
}

/* styles.css */
.text-main {
  @apply mb-4;
  @apply text-sm text-white;
  @apply md:text-lg;
  @apply cmd:text-xl;
  @apply 2-5xl:text-2xl;
  @apply 3xl:text-3xl;
}

.text-h1-main {
  @apply text-5xl font-extrabold text-white text-center;
  @apply md:text-7xl;
  @apply cmd:text-8xl cmdm:text-left;
  @apply 2-5xl:text-9xl;
}

.text-h1 {
  @apply text-7xl font-extrabold text-white text-center;
  @apply md:text-9xl;
  @apply cmd:text-12xl;
  @apply 2-5xl:text-14xl;
}

/* styles.css or the appropriate css file */
.text-h2-main {
  @apply text-5xl font-extrabold text-purple-700;
  @apply md:text-6xl;
  @apply cmd:text-7xl;
  @apply 2-5xl:text-8xl;
  @apply 3xl:text-9xl;
}

.text-h2-long {
  @apply text-3xl font-extrabold text-purple-700;
  @apply md:text-6xl;
  @apply 3xl:text-7xl;
}

.text-h3-grip {
  @apply xl:mb-4;
  @apply text-purple-400;
  @apply text-lg font-extrabold;
  @apply md:text-xl;
  @apply cmd:text-xl;
  @apply 2-5xl:text-2xl;
  @apply 3xl:text-2xl;
}

.contact-us-button {
  @apply rounded-xl md:rounded-3xl items-center;
  @apply bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700;
  @apply hover:bg-gradient-to-br;
  @apply focus:ring-4 focus:outline-none focus:ring-purple-300;
  @apply text-center text-white font-extrabold;

  @apply text-2xl;
  @apply md:text-4xl;
  @apply cmd:text-5xl;
  @apply 2-5xl:text-6xl;
  @apply 3xl:text-7xl;
}

@media (min-width:2000px) {
  .text-h1-main {
    font-size: 10rem;
  }
}

@media (min-width:2700px) {
  .text-h1-main {
    font-size: 12rem;
  }
}